<!--<form  method="get" >
	<input type="text" placeholder="Enter text to search" [(ngModel)]="searchedText" name="search">
</form>

<button type="button" (click)="searchNew()">Search</button>-->

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>
					Hello, world!
				</h2>
				<p>
					Welcome Everyone!! Get breaking news headlines, and search for articles from over 30,000 news sources and blogs. We connect you to the world.
				</p>
				<div class="ser">
					<form  method="get" >
						<input type="text" placeholder="Enter text to search" [(ngModel)]="searchedText" name="search">
					</form>

					<button type="button" (click)="searchNew()">Search</button>
				</div>
			</div>
		</div>
	</div>
</div>